<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Killa Room</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Killa Room</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, fugit labore? Dolorem fugiat nobis mollitia, quidem vel animi impedit maxime libero tempore molestias asperiores, nostrum dicta tempora ducimus sit itaque.</p>
  </body>
</html>